{% extends 'base.html.twig' %}

{% block title %}{{ 'HOME.PAGETITLE'|trans }}{% endblock %}

{% block banner %}
    {% include 'main/banner.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if uRoles|length == 0 %}
                <div class="alert alert-warning">You are almost done! You need to activate your account to access the
                    website functionalities,
                    please check your
                    e-mails.
                </div>
            {% endif %}
        {% endif %}
        <div>
            <div class="count my-1">
                {{ 'HOME.ITEM_COUNT'|trans }} {{ items.getTotalItemCount }}
            </div>

            <div class="pagination navigation">
                {{ knp_pagination_render(items) }}
            </div>
        </div>

        <div class="container-fluid justify-content-center">
            <div class="d-flex justify-content-center flex-wrap ">
                {% for item in items %}
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top"
                                 src="{{ path('get_picture_content', {'picture': item.getPictures()|first.getId()}) }}"
                                 alt="{{ item.title }}" width="250px">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <div id="butons">
                                    <a href="{{ path('item_details', {'id': item.getId()}) }}"
                                       class="btn btn-info"><i class="fas fa-info"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}