<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #ffffff;" id="navbar">
    <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'APP.TITLE'| trans }}</a>
    {#    <form class="form-inline has-search">#}
    {#        <div class="form-group has-search">#}
    {#            <span class="fa fa-search form-control-feedback"></span>#}
    {#            <input type="text" class="form-control border-letzswap" placeholder="Search" id="search-height">#}
    {#        </div>#}
    {#    </form>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right text-right pr-3" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'admin' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('admin') }}">
                            {{ 'NAV.ADMIN'|trans }}
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'add_item' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('item_new') }}">
                            {{ 'NAV.ADD_ITEM'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        {{ 'NAV.LOGOUT'|trans }}
                    </a>
                </li>

            {% else %}

                <li class="nav-item {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                    {#  <a class="nav-link" data-toggle="modal" data-target="#modalLogin">#}
                    <a class="nav-link" href="{{ path('login') }}">
                        {{ 'NAV.LOGIN'|trans }}
                    </a>
                    {#  </a>#}
                </li>
                <li class="nav-item{% if app.request.attributes.get('_route') == 'register' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('register') }}">
                        {{ 'NAV.REGISTER'|trans }}
                    </a>
                </li>

            {% endif %}

            <li class="nav-item  {% if app.request.attributes.get('_route') == 'about' %} active {% endif %}">
                <a class="nav-link" href="{{ path('about') }}">
                    {{ 'NAV.ABOUT'|trans }}
                </a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {#Here should go the href to user profile#}
                <li class="nav-item">
                    <a class="nav-link" id="navbar_gravatar"
                       alt="Logged as {{ app.user.username }}">{{ avatar.getAvatar(app.user.username, 35) | raw }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--/.Navbar -->

<div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
                <label for="inputUsername" class="sr-only">{{ 'LOGIN.USERNAME.LABEL' | trans }} </label>
            </div>
            <form method="post" action="{{ path('login') }}">
                {% if error|default(false) %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="modal-body">
                    <input type="text" value="{{ last_username|default("") }}" name="username" id="inputUsername"
                           class="form-control"
                           placeholder="Username" required autofocus><br>
                    <label for="inputPassword" class="sr-only">{{ 'LOGIN.PASSWORD.LABEL' | trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="justify-content-center modal-footer">
                    <button class="button" type="submit">
                        {{ 'LOGIN.SUBMIT' | trans }}
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>