<nav class="navbar " >
    <div id="logo">
        <a href="{{ path('homepage') }}"><h2>{{ 'APP.TITLE' | trans }}</h2></a>
    </div>
    <ul class="navbar_list ">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <span id="username">{{ app.user.username }}</span>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if app.request.attributes.get('_route') == 'admin' %} active {% endif %}">
                    <a class="button navbar_link" href="{{ path('admin') }}">
                        {{ 'NAV.ADMIN'|trans }}
                    </a>
                </li>
            {% endif %}
            <li class="{% if app.request.attributes.get('_route') == 'add_item' %} active {% endif %}">
                <a class="button navbar_link" href="{{ path('item_new') }}">
                    {{ 'NAV.ADD_ITEM'|trans }}
                </a>
            </li>

            <li class="">
                <a class="button navbar_link" href="{{ path('app_logout') }}">
                    {{ 'NAV.LOGOUT'|trans }}
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'about' %} active {% endif %}">
                <a class="button navbar_link" href="{{ path('about') }}">
                    {{ 'NAV.ABOUT'|trans }}
                </a>
            </li>

        {% else %}
            <li class="{% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                {#  <a class="button navbar_link" data-toggle="modal" data-target="#modalLogin">#}
                <a class="button navbar_link" href="{{ path('login') }}">
                    {{ 'NAV.LOGIN'|trans }}
                </a>
                {#  </a>#}
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'register' %} active {% endif %}">
                <a class="button navbar_link" href="{{ path('register') }}">
                    {{ 'NAV.REGISTER'|trans }}
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'about' %} active {% endif %}">
                <a class="button navbar_link" href="{{ path('about') }}">
                    {{ 'NAV.ABOUT'|trans }}
                </a>
            </li>


        {% endif %}
    </ul>
</nav>

<div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
                <label for="inputUsername" class="sr-only">{{ 'LOGIN.USERNAME.LABEL' | trans }} </label>
            </div>
            <form method="post" action="{{ path('login') }}">
                {% if error|default(false) %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="modal-body">
                    <input type="text" value="{{ last_username|default("") }}" name="username" id="inputUsername"
                           class="form-control"
                           placeholder="Username" required autofocus><br>
                    <label for="inputPassword" class="sr-only">{{ 'LOGIN.PASSWORD.LABEL' | trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="justify-content-center modal-footer">
                    <button class="button" type="submit">
                        {{ 'LOGIN.SUBMIT' | trans }}
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>