<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'REPORT.MAIL.TITLE'|trans({'%item%': item.getTitle()|default('Something')}) }}
        {{ user.getUsername()|default('someone') }}!</title>
</head>
<body>
<h1>Hi Admin </h1><br>

<p> The {{ item.title }}, belonging to {{ item.user.username }}, has been reported by one of our users as being {{ givenReportReason }}.<br>

    The reporting user, {{ user.username }} has sent the following message.</p>

"{{ textComingFromReportForm }}"

</body>
</html>
