{% extends 'base.html.twig' %}

{% block title %}LëtzSwap! Admin Area{% endblock %}

{% block body %}

    <h1 style="text-align: center">Items</h1>
    {% if items == null %}
        <div class="empty-items">
            No Items found
        </div>
    {% else %}
        <table class="d-flex flex-column" id="admin_dashboard_items">
            <thead>
            <tr>
                <th id="dashboard_item_picture">Item Picture</th>
                <th>Title</th>
                <th>Reported</th>
                <th>Item Owner</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody >
            {% for item in items %}

                <tr>
                    {% for picture in pictures %}
                        {% if picture.item.id  == item.getId() %}
                            <td><img src="{{ path('get_picture_content', {'picture': picture.getId()}) }}"
                                     alt="{{ item.title }}" width="110px" height="115px">
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ item.title }}</td>
                    <td>
                        {% set reported = false %}
                        {% for stats in item.getStatuses() %}
                            {% if stats.getStatuses().getLabel() == 'reported' %}
                                {% set reported = true %}
                            {% endif %}
                        {% endfor %}
                        {% if reported %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>{{ item.getUser().getUsername() }}</td>
                    <td>
                        <div id="admin_dashboard_buttons">
                            <form method="get" action="{{ path('item_details', {'id': item.id}) }}">
                                <button class="btn btn-primary">Details</button>
                            </form>
                        </div>

                        <div id="admin_dashboard_buttons">
                            <form method="post" action="{{ path('item_delete', {'id': item.id}) }}"
                                  onsubmit="return confirm('Are you sure you really want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-item') }}"/>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h1 style="text-align: center">Users</h1>
    {% if users == null %}
        <div class="empty-items">
            No Users found
        </div>
    {% else %}
        <table class="d-flex flex-column" id="admin_dashboard_users">
            <thead>
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Reported</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% set reported = false %}
                        {% for stats in user.getStatuses() %}
                            {% if stats.getStatuses().getLabel() == 'reported' %}
                                {% set reported = true %}
                            {% endif %}
                        {% endfor %}
                        {% if reported %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {#options#}

                        <div>
                            <div id="admin_dashboard_buttons_users">
                            <form method="post" action="{{ path('user_unban', {'id': user.id}) }}"
                                  onsubmit="return confirm('Are you sure you really want to BAN this user?');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="csrf_token_banuser" value="{{ csrf_token('ban-user') }}"/>
                                <button class="btn btn-primary">Unban</button>
                            </form>
                        </div>
                        <div>
                            <div id="admin_dashboard_buttons_users">

                            <form method="post" action="{{ path('user_ban', {'id': user.id}) }}"
                                  onsubmit="return confirm('Are you sure you really want to BAN this user?');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="csrf_token_banuser" value="{{ csrf_token('ban-user') }}"/>
                                <button class="btn btn-danger">Ban</button>
                            </form>
                        </div>
                        <div>
                            <div id="admin_dashboard_buttons_users">
                            <form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
                                  onsubmit="return confirm('Are you sure you really want to DELETE user {{ user.username }}?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token_rmuser" value="{{ csrf_token('delete-user') }}"/>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}