<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Mail from {{ data.name }}</title>
</head>
<body>
<h1>Message from {{ data.name }}</h1>

<p>Someone named {{ data.name }}</p>
<p>Whose email is {{ data.email }}</p>
<p>Sent a message with subject {{ data.subject }}</p>
<p>With content" "{{ data.message }}"</p>


</body>
</html>
