{% extends 'base.html.twig' %}

{% block title %}Item Details{% endblock %}

{% block body %}
    <div id="avatar">
    {{ avatar | raw }}
    <h2>{{ username }}</h2>
    </div>
    <article id="description">
    <img src="{{ path('get_picture_content', {'picture': picture.getId()}) }}" class="img-thumbnail" width="500px" height="200px">

    <table class="table">
        <tbody>
        <tr>
            <th style="color: rgb(70,161,142)">Title:</th>
            <td>{{ item.title }}</td>
        </tr>
        <tr>
            <th style="color: #46a18e">ConditionStatus:</th>
            <td>{{ item.conditionStatus }}</td>
        </tr>
        <tr>
            <th style="color: #46a18e">Description:</th>
            <td>{{ item.description }}</td>
        </tr>
        </tbody>
        <!--<h1 id="item_details_h1">{{item.title }}</h1>-->
    </table>
    </article>

    <div id="item_detail_buttons">
    <a href="{{ path('item_index') }}"><button type="button" class="btn btn-success">Back</button></a>

    <a href="{{ path('item_edit', {'id': item.id}) }}"><button type="button" class="btn btn-success">Edit</button></a>

    <a href="{{ path('item_swap', {'id': item.id}) }}"><button type="button" class="btn btn-primary">LetzSwap!</button></a>

    <a href="{{ path('item_report', {'id': item.id}) }}"><button type="button" class="btn btn-danger">Report</button></a>

    {{ include('item/delete-confirm.html.twig') }}
    </div>
{% endblock %}