{% extends 'base.html.twig' %}

{% block title %}Item Details{% endblock %}

{% block body %}
    <div  class="item_container">
        <h2>{{ item.title }} details
        <br><small>{{ item.id }}</small></h2>
            <div class="center-div">
                <div class="item_pic">
                        <div><img src="{{ path('get_picture_content', {'picture': picture.getId()}) }}"
                                 alt="{{ item.title }}" width="250px"></div>
                    </div>
                    <div>
                        <h2>{{ item.title }}</h2>
                    </div>
                    <div class="active-row">
                        <p>{{ item.description }}</p>
                    </div>
                    <div>
                        <p>{{ item.conditionStatus }}</p>
                    </div>

                <a href="{{ path('item_index') }}">back to list</a>

                <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>

                {{ include('item/delete-confirm.html.twig') }}
            </div>

    </div>

{% endblock %}