{% extends 'base.html.twig' %}

{% block title %}{{ 'ITEM.DETAILS.PAGETITLE'|trans }}{% endblock %}

{% block body %}

    <article class="description">
        <img src="{{ path('get_picture_content', {'picture': picture.getId()}) }}" class="img-thumbnail" width="500"
             height="200" alt="{{ item.title }}">

        <table class="table">
            <tbody>
            <tr>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <td>Condition status: {{ item.conditionStatus }}</td>
            </tr>
            <tr>
                <td>{{ item.description }}</td>
            </tr>
            </tbody>
        </table>
    </article>


    <div id="item_detail_buttons">
        <div id="avatar">
            {{ avatar.getAvatar(item.getUser.getUsername(), 100) | raw }}
            <h2>{{ username }}</h2>
        </div>
        <a href="{{ path('homepage') }}">
            <button type="button" class="btn btn-success">Back</button>
        </a>
        {% if is_granted('ROLE_USER') and (item.getUser.getId() == app.user.id) %}

            <a href="{{ path('item_edit', {'id': item.id}) }}">
                <button type="button" class="btn btn-success">Edit</button>
            </a>

            {{ include('item/_delete-confirm.html.twig') }}

        {% endif %}
        {% if is_granted('ROLE_USER') %}
            {% if (item.getUser.getId() != app.user.id) %}
                <a href="#">
                    <button id="swap_button" type="button" class="btn btn-primary">LëtzSwap!</button>
                </a>
                <a href="#">
                    <button id="report_button" type="button" class="btn btn-danger">Report</button>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div id="swap_form" style="display:none">
        {{ form(swapForm) }}
    </div>

    <div id="report_form" style="display:none">
        {{ form(reportForm) }}
    </div>

    <script>
        document.getElementById("swap_button").addEventListener("click", function (event) {
            event.preventDefault();
            showHideSwapForm();
        });

        document.getElementById("report_button").addEventListener("click", function (event) {
            event.preventDefault();
            showHideReportForm();
        });

        function showHideSwapForm() {
            if (document.getElementById("swap_form").style.display === "none") {
                document.getElementById("report_form").style.display = "none";
                document.getElementById("swap_form").style.display = "block";
                window.scrollTo({
                    left: 0,
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
            } else {
                document.getElementById("swap_form").style.display = "none";
            }
        }

        function showHideReportForm() {
            if (document.getElementById("report_form").style.display === "none") {
                document.getElementById("swap_form").style.display = "none";
                document.getElementById("report_form").style.display = "block";
                window.scrollTo({
                    left: 0,
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
            } else {
                document.getElementById("report_form").style.display = "none";
            }
        }

    </script>
{% endblock %}