{% extends 'base.html.twig' %}

{% block title %}{{ 'ITEM.EDIT.PAGETITLE'|trans }}{% endblock %}

{% block body %}
    <div class="new_item_page">
        <div>
            <h1 id="registration_title">{{ 'ITEM.EDIT.TITLE'|trans }}</h1>
        </div>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div id="add_item_buttons" class="d-flex justify-content-between">
        <button class="button">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
