{% extends 'base.html.twig' %}

{% block title %}{{ 'ITEM.EDIT.PAGETITLE'|trans }}{% endblock %}

{% block body %}

    <div class="new_item_page">
        <div>
            <h1 id="registration_title">{{ 'ITEM.EDIT.TITLE'|trans }}</h1>
        </div>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="pictures-preview">
        {% for picturez in picture %}
            <img src="{{ path('get_picture_content', {'picture': picturez.getId()}) }}" width="150px" alt="">
        {% endfor %}
    </div>
    <div id="add_item_buttons" class="d-flex justify-content-between">
        <button class="button">Save</button>
    </div>
    <script>
        document.getElementById("item_picture")
            .addEventListener(
                'change',
                function(){
                    document.querySelector("#item_picture + label").innerText = document.getElementById("item_picture").files[0].name;
                }
            )
    </script>
    {{ form_end(form) }}
{% endblock %}
