{% extends 'base.html.twig' %}

{% block title %}{{ 'ITEM.NEW.PAGETITLE'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'ITEM.NEW.TITLE'|trans }}</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('item_index') }}">{{ 'ITEM.NEW.BACKLINK'|trans }}</a>
{% endblock %}
