{% extends 'base.html.twig' %}

{% block title %}{{ 'ITEM.NEW.PAGETITLE'|trans }}{% endblock %}

{% block body %}


    <div class="new_item_page">
        <div>
            <h1 id="registration_title">{{ 'ITEM.NEW.TITLE'|trans }}</h1>
        </div>
    </div>
    <div>
        {{ form_start(form) }}

        {{ form_widget(form) }}
    </div>
    <div id="add_item_buttons" class="d-flex justify-content-between">
        <button class="button">Add Item</button>
    </div>
    <script>
        document.getElementById("item_picture")
            .addEventListener(
                'change',
                function(){
                    document.querySelector("#item_picture + label").innerText = document.getElementById("item_picture").value;
                }
            )
    </script>


    {{ form_end(form) }}
{% endblock %}
