<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'SWAP.MAIL.TITLE'|trans({'%item%': item.getTitle(), '%name%': user.getUsername()}) }}</title>
</head>
<body>

{# FIXME: Content needed#}

<p> {{ '%username%' user.getUsername() }} is interested in your {{ '%item%' item.getTitle() }}

    And he has sent the following message

    {{ data.message }}

</p>

<p>{{ textComingFromSwapForm }}</p>


</body>
</html>
