<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'SWAP.MAIL.TITLE'|trans({'%item%': item.getTitle(), '%name%': user.getUsername()}) }}</title>
</head>
<body>

{# FIXME: Content needed#}

<p>
        <h1>Hi {{ user.username }} </h1>

    User by the name of {{ item.user.username }} is interested in swapping something
    with your item:  <strong>{{ item.title }}</strong><br>

        And he has sent the following message:<br>
   <strong>{{ textComingFromSwapForm }}</strong> <br>
    Here is his email so you can reply to him {{ item.user.email }}
</p>

<p>Letzswap team</p>


</body>
</html>
