<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'SWAP.MAIL.TITLE'|trans({'%item%': item.getTitle(), '%name%': user.getUsername()}) }}</title>
</head>
<body>

<h1>Hi {{ user.username }} </h1>
<p>
    Another {{ 'APP.TITLE'|trans }} user by the name of {{ item.user.username }} is interested in swapping something
    for your item:  <strong>{{ item.title | lower }}</strong><br>

She/he has sent the following message:<br>
   <strong>{{ textComingFromSwapForm }}</strong> <br>

    If you are interested, please send her/him a message to the following {{ item.user.email }}
</p>

<p>{{ 'APP.TITLE'|trans }} Team</p>


</body>
</html>
